.carousel-section {
  max-width: auto; 
  margin: 0 auto; 
}

.carousel-inner {
  height: 1000px;
}

.carousel-section {
  margin-bottom: 80px;
}

.carousel-section {
  margin-bottom: 80px;
}

.card img {
  width: 350px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 5px;
}

.card-standard {
  height: 400px; /* Ajuste o valor conforme necessário */
  margin: auto;
}

.text-muted {
  color: #999;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.list-unstyled a {
  text-decoration: none;
  color: #999;
}

.list-unstyled a:hover {
  color: #fff;
}

.hr-divider {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.card-divider {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.cards-section {
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 5px;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px); /* Levanta o card em 10px ao passar o mouse */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao card */
}

.carousel-section {
  margin: 20px; /* Centralize o carrousel */
  margin-bottom: 80px;
}

.footer-section {
  padding: 20px 0; /* Adiciona espaço acima e abaixo do footer */
}

.footer-custom {
  text-align: center; /* Centraliza o texto dentro do rodapé */
}

.footer-heading {
  margin-bottom: 15px; /* Espaço abaixo do título do footer */
}

.footer-section .row {
  margin-bottom: 20px; /* Espaço entre as colunas do footer */
}

.footer-section h5 {
  margin-bottom: 10px; /* Adiciona espaço abaixo do título */
}

.footer-section p {
  margin-bottom: 10px; /* Adiciona espaço abaixo dos parágrafos */
}

.footer-section {
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 10px;
}